input_nasa_launch.mov
real_test.mov
voutput.mov

.libs
.deps
*.log
*.trs
*~
*.o
*.so
*.lo
*.la

Makefile
.dirstamp
/stingray
/stingray-*
/test_stingray



vendor/libltdl


debian/stingray
debian/*.substvars
debian/files

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/config.h.in
/config.h
/config.status
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/build-aux
/libtool
